{% extends 'base_landing.html' %}
{% load static %}

{% block title %}
<title>Reset Password - Right Meow</title>
{% endblock title %}

{% block content %}
<div class="p-3">
    {% if validlink %}
        <form method="POST" class="flex flex-col w-full" novalidate>
            {% csrf_token %}
            <label for="{{ form.new_password1.id_for_label }}" 
                class="font-semibold mt-2">{{ form.new_password1.label }}*</label>
            <input name="{{ form.new_password1.html_name }}" type="password"
                class="input text-base {% if form.new_password1.errors %}input-error{% else %}input-primary{% endif %} w-full my-1"
                id="{{ form.new_password1.id_for_label }}" required>
            {% for error in form.new_password1.errors %}
                <div class="text-error text-sm">{{ error }}</div>
            {% endfor %}
            <label for="{{ form.new_password2.id_for_label }}" class="font-semibold mt-2">{{ form.new_password2.label }}*</label>
            <input name="{{ form.new_password2.html_name }}" type="password"
                class="input text-base {% if form.new_password2.errors %}input-error{% else %}input-primary{% endif %} w-full my-1"
                id="{{ form.new_password2.id_for_label }}" required>
            {% for error in form.new_password2.errors %}
                <div class="text-error text-sm">{{ error }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-primary no-animation w-full mt-4">Reset Password</button>
        </form>
    {% else %}
        <p class="mb-3">The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a <a class="link link-hover link-primary" href="{% url 'password_reset' %}">new password reset</a>.</p>
    {% endif %}
</div>
{% endblock content %}