{% extends 'base_landing.html' %}
{% load static %}

{% block title %}
<title>Reset Password - Right Meow</title>
{% endblock title %}

{% block content %}
<div class="p-3">
    <form method="POST" class="flex flex-col w-full" novalidate>
        {% csrf_token %}
        <label for="{{ form.email.id_for_label }}" class="font-semibold">{{ form.email.label }}*</label>
        <input name="{{ form.email.html_name }}" type="text"
            class="input text-base {% if form.email.errors %}input-error{% else %}input-primary{% endif %} w-full my-1"
            id="{{ form.email.id_for_label }}"{% if form.email.value %} value="{{ form.email.value }}"{% endif %} 
            required>
        {% for error in form.email.errors %}
            <div class="text-error text-sm">{{ error }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary no-animation w-full mt-4">Request Password Reset</button>
    </form>
</div>
{% endblock content %}