{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock head %}

{% block title %}
<title>{{ profile.name}} - Right Meow</title>
{% endblock title %}

{% block content %}
<div class="flex flex-col mb-5">
    <div class="bg-base-100 flex flex-col rounded-xl shadow-custom">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row items-center">
                <img class="profile-pic w-28 h-28 rounded-full m-3" src="{{ profile.picture.url }}">
                <div class="flex flex-col justify-center">
                    <span class="font-semibold text-lg">{{ profile.name }}</span>
                    <span class="text-gray-400 italic">{{ profile.user.username }}</span>
                </div>
            </div>
            {% if user.profile == profile %}
                <div class="flex-shrink-0">
                    <div class="dropdown dropdown-end m-3">
                        <label class="cursor-pointer" tabindex="0"><i class="fa-solid fa-angle-down"></i></label>
                        <ul tabindex="0" class="dropdown-content border menu shadow bg-base-100 w-52">
                            <li><a id="edit-profile" href="{% url 'profile_update' slug=user.profile.slug %}">Edit Profile</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="border-t{% if profile.about %} border-b{% endif %} flex flex-row">
            <a href="#posts"
                class="w-1/2 text-mg hover:bg-indigo-100 text-center border-r {% if not profile.about and user.profile == profile %}rounded-bl-xl {% endif %}text-accent hover:text-primary font-semibold py-2">
                <div class="-mb-1">{{ profile.posts.count }}</div>
                <div class="text-sm">Post{% if profile.posts.count != 1 %}s{% endif %}</div>
            </a>
            <label for="followers-modal"
                class="w-1/2 cursor-pointer text-mg hover:bg-indigo-100 text-center border-r text-accent hover:text-primary font-semibold py-2">
                <div class="-mb-1">{{ profile.followers.count }}</div>
                <div class="text-sm">Follower{% if profile.followers.count != 1 %}s{% endif %}</div>
            </label>
            <label for="following-modal"
                class="w-1/2 cursor-pointer text-mg hover:bg-indigo-100 text-center {% if not profile.about and user.profile == profile %}rounded-br-xl {% endif %}text-accent hover:text-primary font-semibold py-2">
                <div class="-mb-1">{{ profile.following.count }}</div>
                <div class="text-sm">Following</div>
            </label>
        </div>
        {% if profile.about %}
            <div class="p-3">
                <h3 class="font-semibold">About</h3>
                <p>{{ profile.about|linebreaks }}</p>
            </div>
        {% endif %}
        {% if profile != user.profile %}
            {% if profile in user.profile.following.all %}
                <form method="POST" action="{% url 'profile_unfollow' slug=profile.slug %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="btn btn-block btn-neutral no-animation rounded-none rounded-b-xl">Unfollow</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'profile_follow' slug=profile.slug %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="btn btn-block btn-primary no-animation rounded-none rounded-b-xl">Follow</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if profile == user.profile %}
    {% include 'partials/_post_form.html' %}
{% endif %}

<div id="posts" class="infinite-container flex flex-col mt-5">
    {% with posts=object_list %}
        {% include 'partials/_post_list.html' %}
    {% endwith %}
</div>

{% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
{% endif %}
<div class="w-full text-center">
    <progress class="loading text-center progress progress-primary w-56 py-5 hidden"></progress>
</div>

<input type="checkbox" id="followers-modal" class="modal-toggle">
<div class="modal">
    <div class="modal-box relative">
        <label for="followers-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="text-lg font-bold mb-3">Followers</h3>
        {% if profile.followers.count %}
            {% for follower in profile.followers.all %}
                <div class="hover:bg-indigo-100 p-2">
                    <a href="{{ follower.get_absolute_url }}">
                        <div class="flex flex-row items-center">
                            <img class="profile-pic w-16 h-16 rounded-full" src="{{ follower.picture.url }}">
                            <div class="group flex flex-col ml-2">
                                <span class="font-semibold">{{ follower.name }}</span>
                                <span class="text-gray-400">{{ follower.user.username }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>Not followed by anyone at the moment...</p>
        {% endif %}
    </div>
</div>

<input type="checkbox" id="following-modal" class="modal-toggle">
<div class="modal">
    <div class="modal-box relative">
        <label for="following-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="text-lg font-bold mb-3">Following</h3>
        {% if profile.following.count %}
            {% for following in profile.following.all %}
                <div class="hover:bg-indigo-100 p-2">
                    <a href="{{ following.get_absolute_url }}">
                        <div class="flex flex-row items-center">
                            <img class="profile-pic w-16 h-16 rounded-full" src="{{ following.picture.url }}">
                            <div class="group flex flex-col ml-2">
                                <span class="font-semibold">{{ following.name }}</span>
                                <span class="text-gray-400">{{ following.user.username }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>Not following anyone at the moment...</p>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% include 'partials/_likes_ajax.html' %}
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function () {
            $('.loading').hide();
        }
    });
</script>
<script>
    $(document).ready(() => {
        $('#upload-button').on('click', () => {
            $('#upload-input').click();
        });

        $('#upload-input').change((e) => {
            if (e.target.value.length > 0) {
                $('#upload-button').addClass('btn-primary');
            } else {
                $('#upload-button').removeClass('btn-primary');
            }
        });

        $('textarea').on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    });
</script>
{% endblock javascript %}